h1 {font-family: Bungee Shade !important; color: #4d1300 !important;}
h2 {font-family: satisfy !important;}
body {background-color: #ffbf80 !important;}

h4 {font-family: satisfy !important;}

img {width: 125px;
}
#door.resize {width:}